@charset "UTF-8";
.M_main {
  position: relative;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 2.4rem;
  background-color: #fff;
}
.M_search {
  height: 1rem;
  background-color: #fff;
  padding: 0.2rem;
  position: relative;
}
.M_search .text {
  position: absolute;
  width: 100%;
  padding-right: 1.8rem;
  left: 0.2rem;
}
.M_search input {
  margin: 0;
  height: 0.64rem;
  font-size: 0.24rem;
  background-color: #f1f1f1;
  border-radius: 0.3rem;
}
.M_search button {
  position: absolute;
  width: 1.3rem;
  height: 0.7rem;
  right: 0.2rem;
  bottom: 0.14rem;
  padding: 0.08rem 0.3rem;
  background-color: #ff841d;
  color: #fff;
  border-radius: 0.32rem;
  line-height: 0.3rem;
}
.M_page {
  width: 100%;
  height: 0.9rem;
  font-size: 0.32rem;
  padding-left: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  line-height: 0.9rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
}
.M_pro {
  height: 0.9rem;
  line-height: 0.9rem;
  background-color: #ebebeb;
  margin: 0.2rem;
  border: 1px solid #ccc;
  color: #874604;
  font-size: 0.32rem;
  padding-left: 0.2rem;
  border-radius: 0.1rem;
}
.M_product .first {
  border-radius: 0.16rem;
  border: 1px solid #ccc;
  border-bottom: none;
  position: relative;
  margin-top: 0.2rem;
}
.M_product .first li {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
}
.M_product .first li i {
  display: block;
  line-height: 0.8rem;
  margin-right: 0.2rem;
  font-size: 15px;
  font-weight: bold;
  height: 0.8rem;
}
.M_product .first li span {
  margin-left: 0.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
}
.M_product .sun {
  width: 100%;
}
.M_product .sun > li {
  width: 100%;
  height: 1.3rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  float: left;
  position: relative;
}
.M_product .sun > li > i {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.2rem;
  background-color: red;
  color: #fff;
}
.M_product .sun > li > p {
  margin: 0;
  position: absolute;
  left: 1rem;
  top: 0.2rem;
  color: #000;
}
.M_product .sun > li > div {
  position: absolute;
  left: 1rem;
  bottom: 0.1rem;
  color: #999;
  font-size: 0.32rem;
}
.M_product .sun > li > span {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  right: 0.2rem;
  bottom: 0.54rem;
}
.M_product .sun .ph span {
  display: inline-block;
  height: 0.9rem;
  width: 100%;
  line-height: 0.9rem;
  background-color: #c9c9c9;
  color: #874604;
  font-size: 0.32rem;
  padding-left: 0.2rem;
}
.M_product .sun .qph .qpSon {
  width: 100%;
  height: 2.4rem;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
}
.M_product .sun .qph .qpSon img {
  width: 2rem;
  height: 2rem;
}
.M_product .sun .qph .qpSon div {
  position: absolute;
  left: 2.3rem;
  top: 0.2rem;
  font-size: 0.3rem;
}
.M_product .sun .qph .qpSon span {
  position: absolute;
  left: 2.3rem;
  top: 1.2rem;
  font-size: 0.34rem;
  color: #ea3900;
}
.M_product .sun .qph .qpSon em {
  position: absolute;
  left: 2.3rem;
  bottom: 0.1rem;
  font-size: 0.3rem;
  color: #666;
}
.M_product .sun .qph .qpSon i {
  position: absolute;
  right: 0.2rem;
  top: 1.2rem;
  font-size: 0.4rem;
  color: #ff841d;
}
.M_product .sun.dp {
  display: none;
}
