@charset "UTF-8";
.M_main {
  position: relative;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 2.4rem;
  background-color: #fff;
}
.M_search {
  height: 1rem;
  background-color: #fff;
  padding: 0.2rem;
  position: relative;
}
.M_search .text {
  position: absolute;
  width: 100%;
  padding-right: 1.8rem;
  left: 0.2rem;
}
.M_search input {
  margin: 0;
  height: 0.64rem;
  font-size: 0.24rem;
  background-color: #f1f1f1;
  border-radius: 0.3rem;
}
.M_search button {
  position: absolute;
  width: 1.3rem;
  height: 0.7rem;
  right: 0.2rem;
  bottom: 0.14rem;
  padding: 0.08rem 0.3rem;
  background-color: #ff841d;
  color: #fff;
  border-radius: 0.32rem;
  line-height: 0.3rem;
}
.M_product > ul {
  border-radius: 0.16rem;
  border: 1px solid #ccc;
  border-bottom: none;
  position: relative;
  margin-top: 0.2rem;
}
.M_product > ul li {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
}
.M_product > ul li i {
  display: block;
  line-height: 0.8rem;
  margin-right: 0.2rem;
  font-size: 15px;
  font-weight: bold;
  height: 0.8rem;
}
.M_product > ul li span {
  margin-left: 0.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
}
.M_product .sun {
  width: 100%;
}
.M_product .sun li {
  width: 33.333%;
  height: 0.8rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
  line-height: 0.8rem;
  text-align: center;
}
.M_product .sun li:nth-child(1),
.M_product .sun li:nth-child(2),
.M_product .sun li:nth-child(3) {
  border-top: 1px solid #ccc;
}
.M_product .sun li:nth-child(3n+1) {
  border-left: 1px solid #ccc;
}
.M_product .sun.dp {
  display: none;
}
